<html class="" lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>vue-blog</title>

		<script src="https://unpkg.com/marked@0.3.6"></script>
		<script src="https://unpkg.com/lodash@4.16.0"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	</head>
	<body>
		<div id="app">
			<header>
				<template v-if="editTitle === true">
					<div class="toolbar edit">
						<input class="edit-title-input" type="text" v-bind:value="title" v-focus autofocus />
						<a class="button" v-on:click="submitTitle()">Save</a>
						<a class="button" v-on:click="toggleTitle()">Cancel</a>
					</div>
				</template>
				<template v-else>
					<div class="toolbar">
						<!-- Post Title -->
						<a class="title" v-on:click="toggleTitle()" style="cursor:pointer"><h1>{{ title }}</h1></a>
						<!-- Post Actions -->
						<a class="button">Save Post</a>
						<a class="button">Publish Post</a>
					</div>
				</template>
			</header>
			<!-- Markdown Editor -->
			<div id="editor">
				<textarea :value="input" @input="update"></textarea>
				<div v-html="compiledMarkdown"></div>
			</div>
		</div>

		<script>
		var app = new Vue({
			el: '#app',
			data: {
				input: 'Lorem ipsum dolor sid amet.',
				title: 'Example Post Title',
				editTitle: false
			},
			computed: {
				compiledMarkdown: function () {
					return marked(this.input, { sanitize: true })
				}
			},
			methods: {
				update: _.debounce(function (e) {
					this.input = e.target.value
				}, 300),
				toggleTitle: function() {
					if (app.editTitle === true) {
						app.editTitle = false;
					} else {
						app.editTitle = true;
					}
				},
				submitTitle: function() {
					var input = document.querySelector('.edit-title-input');
					app.title = input.value;
					app.editTitle = false;
				}
			},
			directives: {
				focus: {
					inserted: function (el) {
						el.focus();
					}
				}
			}
		});

		feather.replace()
		</script>

		<style>
		html, body, #editor {
			margin: 0;
			height: 100%;
			font-family: sans-serif;
			color: #333;
		}

		.toolbar {
			background: #262626;
			margin: 0;
			padding: 1rem;
			display: flex;
			align-items: center;
		}

		.toolbar.edit {
			background: #106b74;
		}

		.toolbar .title {
			flex-grow: 2;
			display: flex;
			align-items: center;
		}

		.toolbar .title:hover::after {
			content: 'Edit Title';
			font-size: .7rem;
			color: white;
		}

		.toolbar h1 {
			margin: 0;
			color: white;
			margin-right: .5rem;
			font-size: 1.4rem;
			font-weight: bold;
		}

		.toolbar .button {
			cursor: pointer;
			color: white;
			font-size: .8rem;
			border: 1px solid white;
			padding: .3rem;
			border-radius: .2rem;
			margin-right: .5rem;
		}

		.toolbar .edit-title-input {
			border: 0;
			outline: 0;
			margin: 0;
			padding: 0;
			background: none;
			color: white;
			font-size: 1.4rem;
			font-weight: bold;
			font-family: sans-serif;
		}

		.edit-title-input::placeholder {
			color: white;
			opacity: 1;
		}

		textarea, #editor div {
			display: inline-block;
			width: 49%;
			height: 100%;
			vertical-align: top;
			box-sizing: border-box;
			padding: 0 20px;
		}

		textarea {
			border: none;
			border-right: 1px solid #ccc;
			resize: none;
			outline: none;
			background-color: #f6f6f6;
			font-size: 14px;
			font-family: 'Monaco', courier, monospace;
			padding: 20px;
		}

		code {
			color: #f66;
		}
		</style>
	</body>
</html>
