<template>
  <div class="hello">
		<header class="top-bar">
			<template v-if="editTitle === true">
					<div class="toolbar edit">
						<input class="edit-title-input" type="text" v-bind:value="title" v-focus autofocus v-on:keyup.13="submitTitle()" />
						<a class="button" v-on:click="submitTitle()">Save</a>
						<a class="button" v-on:click="editTitle = false">Cancel</a>
					</div>
				</template>
				<template v-else>
					<div class="toolbar">
						<!-- Post Title -->
						<a class="title" v-on:click="editTitle = true" style="cursor:pointer"><h1>{{ title }}</h1></a>
						<!-- Post Actions -->
						<a class="button">Save Post</a>
						<a class="button">Publish Post</a>
						<router-link to="/" class="button">Cancel</router-link>
					</div>
				</template>

		</header>
  </div>
</template>

<script>
export default {
  name: 'PostTopBar',
  data () {
    return {
			input: 'Lorem ipsum dolor sid amet.',
			title: 'Example Post Title',
			editTitle: false
    }
  },
	methods: {
		// update: _.debounce(function (e) {
		// 	this.input = e.target.value
		// }, 300),
		submitTitle: function() {
			var input = document.querySelector('.edit-title-input');
			this.editTitle = false;
			this.title = input.value;
		}
	},
	directives: {
		focus: {
			inserted: function (el) {
				el.focus();
			}
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.toolbar {
	background: #262626;
	margin: 0;
	padding: 1rem;
	display: flex;
	align-items: center;
}

.toolbar.edit {
	background: #106b74;
}

.toolbar .title {
	flex-grow: 2;
	display: flex;
	align-items: center;
}

.toolbar .title:hover::after {
	content: 'Edit Title';
	font-size: .7rem;
	color: white;
}

.toolbar h1 {
	margin: 0;
	color: white;
	margin-right: .5rem;
	font-size: 1.4rem;
	font-weight: bold;
}

.toolbar .button {
	cursor: pointer;
	color: white;
	font-size: .8rem;
	border: 1px solid white;
	padding: .3rem;
	border-radius: .2rem;
	margin-right: .5rem;
}

.toolbar .edit-title-input {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	background: none;
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: sans-serif;
}

.edit-title-input::placeholder {
	color: white;
	opacity: 1;
}
</style>
