<template> <div class="hello">

		<Header></Header>

		<main>
			<h1>Blog Admin</h1>

				<div class="blog-post-list">
					<div v-for="post in postList" class="blog-post-card">
						<h2>{{ post.title }}</h2>
						<a class="edit-post-link">Edit Post</a>
						<a class="delete-post-link">Delete Post</a>
					</div>
				</div>
		</main>

  </div>
</template>

<script>
// import Header from '@/components/Header';
import Header from '@/components/Header';

export default {
  name: 'BlogAdmin',
  data () {
    return {
      msg: 'This is where the blog posts will show up',
			postList: {
				post1: {
					title: 'Post 1 Title',
					url: 'post1'
				},
				post2: {
					title: 'Post 2 Title',
					url: 'post2'
				},
				post3: {
					title: 'Post 3 Title',
					url: 'post3'
				},
			}
    }
  },
	components: {
		'Header': Header
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h1, h2 {
  font-weight: normal;
}

a {
  color: #42b983;
}

.blog-post-list {
	margin: 1rem 0;
	display: flex;
	width: 100%;
}

.blog-post-card {
	flex-grow: 1;
	margin-right: 1rem;
	display: block;
	border: 1px solid gray;
	padding: 1rem;
}

.blog-post-card:last-child {
	margin-right: 0 !important;
}

.blog-post-card .edit-post-link {
	margin-right: 1rem;
}
</style>
