<template>
  <div class="hello">
		<h1>{{ msg }}</h1>
		<form>
			<label>Email
				<input type="text" placeholder="Email" />
			</label>
			<label>Password
				<input type="password" placeholder="Password" />
			</label>
			<input type="submit" value="Login" />
		</form>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Blog Admin Login'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}
h1 {
	margin-bottom: 2rem;
}
form {
	display: flex;
	flex-direction: column;
	width: 500px;
}
label, input {
	display: block;
	width: 100%;
}
label {
	margin-bottom: 1rem;
}

</style>
