<template>
  <div class="hello">
		<!-- <router-view></router-view> -->
		<PostTopBar></PostTopBar>
		<!-- Markdown Editor -->
		<div id="editor">
			<textarea :value="input" @input="update"></textarea>
			<div class="preview" v-html="compiledMarkdown"></div>
		</div>
  </div>
</template>

<script>
import PostTopBar from '@/components/admin/editor/PostTopBar';

// Import Marked
var marked = require('marked');
var _ = require('lodash');

export default {
  name: 'NewPost',
  data () {
    return {
      msg: 'New Post',
			input: '## Get Crackin\''
    }
  },
	computed: {
		compiledMarkdown: function () {
			return marked(this.input, { sanitize: true })
		}
	},
	methods: {
		update: _.debounce(function (e) {
			this.input = e.target.value
		}, 300),
	},
	components: {
		'PostTopBar': PostTopBar
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
textarea, #editor div {
	display: inline-block;
	width: 49%;
	height: 100vh;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 20px;
}

textarea {
	border: none;
	border-right: 1px solid #ccc;
	resize: none;
	outline: none;
	background-color: #f6f6f6;
	font-size: 14px;
	font-family: 'Monaco', courier, monospace;
	padding: 20px;
}

code {
	color: #f66;
}

.preview {
	margin-top: 1rem;
}

</style>
