<template>
		<div class="hello">
			<header>
				<span class="title">Blog Admin</span>
				<router-link to="/new" class="button">New Post</router-link>
				<a class="button">View Blog</a>
				<a class="button">My Account</a>
			</header>
		</div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header {
	background: #252525;
	color: white;
	margin-bottom: 1rem;
	padding: 1rem;
	display: flex;
	align-items: center;
}

.title {
	flex-grow: 1;
	font-size: 1.4rem;
	font-weight: bold;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: white;
	font-size: .8rem;
	border: 1px solid white;
	padding: .3rem;
	border-radius: .2rem;
	margin-right: .5rem;
}
</style>
