<template>
  <div class="hello">
		<nav>
			<router-link to="/">Home</router-link>
			<!-- <router-link to="work" >My Work</router-link> -->
			<router-link to="/work">My Work</router-link>
			<router-link to="/writing" >Writing</router-link>
			<router-link to="/contact" >Contact Me</router-link>
		</nav>
  </div>
</template>

<script>
export default {
  name: 'MainNav',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
nav {
	display: flex;
	width: 100%;
	background: #333333;
}
nav a {
	padding: 1rem;
	color: white;
}
</style>
